 body {
background-repeat: no-repeat;
background-image: url("work.jpg");
background-color: #37474F;
}

.contact {
clear: both;
height: 80%;
-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
background-color: #37474F;
vertical-align: middle;
margin-top: 0;
margin-bottom: 3%;
padding-top: 5%;
clear: both;
}

.map {
margin-top:10%;
margin: auto;
height: 64%;
width: 80%;
margin-left:10%;
display: block;
border-radius: 4px;
clear: both;
}



.map-copy {
clear: both;
display: none;
border-radius: 4px;
}


.teamx {
width: 40%;
margin-top: 9%;
margin-left: 30%;
margin-right: 30%;
vertical-align: center;
clear : both;
-webkit-transition: 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
height: 40%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.teamx1 {
border-top-left-radius: 20px;
border-top-right-radius: 6px;
width: 100%;
height: 100%;
}

.teamx2 {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-top: 0%;
width:38%;
word-wrap: break-word;
-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
background-color: white;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.9;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;
margin-left: 30%;
vertical-align: center;
}

.teamx2:after {
display: none;
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: white;
	border-width: 30px;
	margin-top: -30px;
}

.team {
width: 40%;
margin-top: 9%;
margin-left: 30%;
margin-right: 30%;
vertical-align: center;
clear : both;
-webkit-transition: 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
height: 40%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.team1 {
width: 100%;
height: 100%;
}
.team2 {
margin-top: 0%;
width:38%;
word-wrap: break-word;
-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
background-color: white;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.9;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;
margin-left: 30%;
vertical-align: center;
}

.team2:after {
display: none;
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: white;
	border-width: 30px;
	margin-top: -30px;
}
.teamz {
width: 40%;
margin-top: 9%;
margin-left: 30%;
margin-right: 30%;
vertical-align: center;
clear : both;
-webkit-transition: 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
height: 40%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.teamz1 {

width: 100%;
height: 100%;
}
.teamz2 {
margin-top: 0%;
width:38%;
word-wrap: break-word;
-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
background-color: white;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.9;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;
margin-left: 30%;
vertical-align: center;
margin-bottom: 4%;
}

.teamz2:after {
display:none;
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: white;
	border-width: 30px;
	margin-top: -30px;
}
.team2 p {
color:#37474F;
}
.teamz2 p {
color:#37474F;
}
.work {
height: 20%;
width: 100%;
background-color:#37474F;
position: absolute;
top: 230%;
left: 0px;
text-align: center;
}
.work p {
color: white;
}
h2 .t{
margin-top: 1%;
}
h3 {
color: #4FC3F7;
}

.zmf12 {
clear : both;
}

@media screen and (max-width: 900px){

body {

opacity: 1;
}
.header1 h4 {
font-size:20px;
}
.header2 h4 {
font-size:20px;
}
.aboutmain {
width: 100%;
height:300%;
background-repeat: repeat-y;
background-image: url("work.jpg");
margin-top: -10%;
}
.aboutmain h4 {
25px;
}
.header1 {
width: 90%;
position: absolute;
top: 14%;
left: 5%;
display: none;
}
.about1 {
display: none;
height: 70%;
width:90%;
opacity: 0.8;
position: absolute;
top: 20%;
left: 5%;
}
.header2 {
position: absolute;
top: 95%;
left: 5%;
width: 90%;
}
.about2 {
height: 65%;
width: 90%;
position: absolute;
top: 101%;
left:5%;
opacity: 0.8;
}

.teamx {
margin-top: 14%;
margin-bottom : 0%;
margin-left: 10%;
width: 80%;
}
.teamx1 {


}
.teamx2 {
margin-top: 0%;
margin-bottom : 10%;
margin-left: 10%;
font-color: white;
text-align: center;
width:78%;
}
.teamx2:after {
	bottom: 100%;
top: -4%;
	left: 50%;
right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 30px;
	margin-left: -30px;

}

.team {
margin-top: 14%;
margin-bottom : 0%;
margin-left: 10%;
width: 80%;
}
.team1 {
}
.team2 {
margin-top: 0%;
margin-bottom : 10%;
margin-left: 10%;
font-color: white;
text-align: center;
width:78%;
}

.team2:after {
	bottom: 100%;
top: -4%;
	left: 50%;
right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 30px;
	margin-left: -30px;

}

.teamz {
margin-top: 14%;
margin-bottom : 0%;
margin-left: 10%;
width: 80%;

}
.teamz1 {
  
width: 100%;
height: 100%;
}
.teamz2 {
margin-top: 0%;
margin-bottom : 10%;
margin-left: 10%;
font-color: white;
text-align: center;
width:78%;
}


.contact {
width: 100%;
background-color: #37474F;
padding-top: 5%;
margin-top: 0;
}

.map {
height: 50%;
width: 160%;
margin-left:0%;
display: none;
}

.map-copy {
height: 40%;
width: 90%;
margin-left:5%;
display: block;
}

}